*{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#container-fluide{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#container{
	position: relative;
	width: 80%;
	margin: 0 auto;
}

header{
	background-color: white;
	height: 100px;
}

h1{
	font-size: 70px;
}
.master{
	padding: 0px;

}

.t1, .t2{
	padding-top: 30px;
	text-align: bottom;
}


tr, td{
	padding: 20px;
	
}
p{
	color: #E4074B;
	font-size: 25px;
}

.botones{
 	position: absolute;
 	top: 900px;
 	left: 1000px;
 }

.bt{
	margin-left: 10px;
	padding: 10px; /*espacio alrededor texto*/
	background-color: #E4074B; /*color botón*/
	color: #ffffff; /*color texto*/
	text-decoration: none; /*decoración texto*/
	text-transform: uppercase; /*capitalización texto*/
 }


footer{
	height: 250px;
 	background-color: black;
 	border-top: solid 10px;
 	border-color: #E4074B;
}

.txt3 p{
	color: white;
	
}
.txt3{
	padding-top: 80px;
}

.txt3 a{
	color: white;
}
