*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#container-fluide{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#container{
	position: relative;
	width: 80%;
	margin: 0 auto;
}

header{
	height: 100px;
	background-color: white;
}

#container h1{
	font-size: 45px;
	display: inline;
}

h1 a{
	font-size: 15px;
	color: grey;
}

form{
	position: absolute;
	left: 150px;
	width: 60%;
}

section{
	margin-bottom: 20px; 
}
li{
	list-style-type: none;
}

#select, #name, #apellido, #telefono, #mail, #fecha, #empresa, #tamaño, #repetir, #password{
	margin-right: 30px;
	padding-left: 10px;
	margin-bottom: 15px;
	width: 300px;
	height: 30px;
}

em{
	font-size: 10px;
}

.ad{
	margin-bottom: 10px;
}

select{
	margin-bottom: 20px;
	width: 150px;
	height: 40px;
}

input:focus{
	border: 3px solid #E4074B;
	
}

.caja{
	color: #E4074B;
	border: 1px solid;
	padding: 40px;
	margin-bottom:  20px;
}

.title{
	color: black;
}

.botones{
 	position: absolute;
 	top: 1210px;
 }

.bt{
	margin-left: 10px;
	padding: 10px; /*espacio alrededor texto*/
	background-color: #E4074B; /*color botón*/
	color: #ffffff; /*color texto*/
	text-decoration: none; /*decoración texto*/
	text-transform: uppercase; 
	text-shadow: 1px 1px 1px #000000;
	border-radius: 8px 8px 8px 8px;
}

.botones a:hover{
	background-color: #98002E;
	color: white;
	box-shadow:inset 3px 3px 10px 1px #6B0022;
	text-shadow: 1px 2px 4px #5E5E5E;
}

footer{
	height: 350px;
	background-color: black;
	border-top: 10px solid #E4074B;
}

.txt3 p{
	color: white;
	
}
.txt3{
	padding-top: 80px;
}

.txt3 a{
	color: white;
}
.i{
	margin-left: 35px;
	margin-bottom: 10px;
}