*{
	padding: 0px;
	margin: 0px 0px 0px 0px;
	font-family: 'Roboto', sans-serif;
}

body{
	margin: 0px 0px 0px 0px;
	background-color: red;
}

#container-fluide{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	max-width: 2999px;
}

.container{
	width: 80%;
	margin: 0 auto;
	background-color: white;
}

header{
	background-color: white;
	height: 100px;
}

.banner{
	background-image: url(../img/bg-seccion1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: content-box;
	background-position: center;
	margin: auto;
	width: 100%;
	height: 900px;	
}

.container div{
	position: absolute;
	top: 300px;
}

.t1{
	font-size: 70px;
	color: #323537; 
}
.t2{
	font-size: 35px;
	color: #323537;
}

.bonones{
 	position: absolute;
 	top: 550px;
 	left: 150px;
 }

.bt{
	margin-left: 10px;
	padding: 10px; /*espacio alrededor texto*/
	background-color: #E4074B; /*color botón*/
	color: #ffffff; /*color texto*/
	text-decoration: none; /*decoración texto*/
	text-transform: uppercase; /*capitalización texto*/
 }

.txt2{
	position: absolute;
	top: 900px;
}

 footer{
 	height: 300px;
 	background-color: black;
 	border-top: solid 10px;
 	border-color: #E4074B;
 }


