*{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#container-fluide{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#container{
	position: relative;
	width: 80%;
	margin: 0 auto;
}

header{
	background-color: white;
	height: 100px;
}






footer{
	height: 250px;
 	background-color: black;
 	border-top: solid 10px;
 	border-color: #E4074B;
}

.txt3 p{
	color: white;
	
}
.txt3{
	padding-top: 80px;
}

.txt3 a{
	color: white;
}