*{
	padding: 0px;
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
}

#container-fluide{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px auto;
}

.container{
	position: relative;
	width: 80%;
	margin: 0 auto;
	align-items: center;
}

header{
	background-color: white;
	height: 100px;
}

.banner{
	background-image: url(../img/bg-seccion1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: content-box;
	background-position: center;
	margin: auto;
	width: 100%;
	height: 900px;	
}

.txt1{
	position: absolute; 	
	top: -700px;
}

.t1{
	font-size: 70px;
	color: #323537; 
}
.t2{
	font-size: 35px;
	color: #323537;
}

.botones{
 	position: absolute;
 	top:-300px;
 	left: ;
 }

.bt{
	margin-left: 10px;
	padding: 10px; /*espacio alrededor texto*/
	background-color: #E4074B; /*color botón*/
	color: #ffffff; /*color texto*/
	text-decoration: none; /*decoración texto*/
	text-transform: uppercase; 
	text-shadow: 1px 2px 4px #5E5E5E;/*capitalización texto*/
 }

.col-4{
	position: relative;
	top: 200px;
	float: left;
}

.col-3{
	position: relative;
	background-image: url(../img/seccion2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: ;
	top: 190px;
	float: left;

}

footer{
 	height: 250px;
 	background-color: black;
 	border-top: solid 10px;
 	border-color: #E4074B;
 }

h2{
 	font-size: 35px
 }
li{
	margin-left: 20px;
	font-size: 20px;
}

.txt3 p{
	color: white;
	
}
.txt3{
	padding-top: 80px;
}

.txt3 a{
	color: white;
}

@media (max-width: 860px){
	header{

		background-color: #6fe;	
	}
	.container{
		width: 80%
	}

}

@media only screen and (max-width: 860px){
	[class*="txt"]{
		width: 100%;
		font-variant: ;
	}

	
}

[class*="col-"]{
	float: left;
}


@media (max-width: 860px){
	.botones{
		display: flex;
		top: -100px;
	}

	.col-4{
		
		top: 20px;
		left: 10%;
	}

	.col-3{
		left: 1%;
		margin:;
		width: 100%;
	}

	
	.bt{
		width: 100%;
		text-align: center;
	}
	.txt1{
		display: flex;
		top: 

	}

	.t1, .t2{
		width: 100%;
		display: inline-block;
	}
	.t1{
		top: -100px;
	}
}

@media only screen and (max-width: 860px){
	[class*="col-"]{
		width: 100%;
		font-variant: small-caps;
	}
}

.botones a:hover{
	background-color: white;
	color: black;
	-webkit-box-shadow:inset 3px 3px 10px 1px #A6A6A6;
	box-shadow:inset 3px 3px 10px 1px #A6A6A6;
	text-shadow: 1px 2px 4px #5E5E5E;
}
